<?xml version="1.0"?>
<servers>
    <currentgroup>
        mainServer
    </currentgroup>
    <mainServer>
		<setting name="PlayerIOGame">rc2015-qrhx19k5feqhr5uhqnlw</setting>
		<setting name="S3URL">http://the-rc14-project.s3.us-east-2.amazonaws.com/s3Data.json</setting>
    </mainServer>
</servers>